/* HEADER */

.header-container {
    background-image: 
        linear-gradient(var(--head-foot-grad-color-1), var(--head-foot-grad-color-2), var(--head-foot-grad-color-1)), 
        url('../../img/cropped-piano.png');
    background-size: cover;
    background-position: center center;
}

/* wps-logo controls height of header */
.wps-logo {
    opacity: 1;
    z-index: 100;
    max-width: 100%;
    max-height: 35vh;
}

.head-nav {
    padding: 5vh 0 5vh 0;
}

.head-nav>a {
    color: darkgrey;
    text-decoration: none;
    padding: 0 5% 0 5%;
    font-size: 1.75rem;
}

.head-nav>a.active {
    color: #fff;
    text-decoration: none;
}


/* FOOTER */

.footer-container {
    width: 100%;
    padding: 15px 3% 20px 3%;
    background-image: linear-gradient(var(--head-foot-grad-color-1), var(--head-foot-grad-color-2), var(--head-foot-grad-color-1)), url('../../img/cropped-piano.png');
    color: darkgrey;
}

.foot-nav>a, .foot-nav>p {
    color: darkgrey;
    text-decoration: none;
    padding: 5px 0 5px 0;
    font-size: 1.25rem;
}

.foot-nav>a.active {
    color: #fff;
    text-decoration: none;
}

.foot-text {
    padding-top: 2vh;
}

.foot-text>a {
    color: darkgrey;
    text-decoration: none;
}