@font-face {
    font-family: 'Alcubierre';
    src:
        local('Alcubierre'),
        url(../../fonts/Alcubierre.otf) format('opentype');
}

/* HEADER */

.header-container {
    background-image: linear-gradient(rgb(0, 5, 0), rgb(0, 0, 0, .8), rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.75), rgb(0, 12, 0)), url('../../img/cropped-piano.png');
    background-size: cover;
    background-position: center center;
}

/* wps-logo controls height of header */
.wps-logo {
    opacity: 1;
    z-index: 100;
    max-width: 100%;
    max-height: 35vh;
}

.head-nav {
    padding: 5vh 0 5vh 0;
}

.head-nav>a {
    color: darkgrey;
    text-decoration: none;
    padding: 0 5% 0 5%;
    /* font-weight: 600; */
    font-size: 1.5rem;
    font-family: 'Alcubierre';
}

.head-nav>a.active {
    color: #fff;
    text-decoration: none;
}



/* FOOTER */

.footer-container {
    width: 100%;
    padding: 15px 3% 20px 3%;
    background-image: linear-gradient(rgb(0, 10, 0), rgb(0, 0, 0, .8), rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.75), rgb(0, 12, 0)), url('../../img/cropped-piano.png');
    color: darkgrey;
}

.foot-nav>a, .foot-nav>p {
    color: darkgrey;
    text-decoration: none;
    padding: 5px 0 5px 0;
    font-weight: 600;
    font-size: 1rem;
}

.foot-nav>a {
    font-family: 'Alcubierre';
}

.foot-nav>a.active {
    color: #fff;
    text-decoration: none;
}

.foot-text {
    padding-top: 2vh;
}

.foot-text>a {
    color: darkgrey;
    font-weight: 400;
    text-decoration: none;
}