.service-card-holder {
    padding: 5px;
}

.service-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,60,0,.1);
    border: 2px solid rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 20px 10px 15px;
    height: 100%;
}

.service-price-cont {
    height: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 10px;
}


.service-price {
    margin: 0;
    padding: 0;
}

.service-price-sub>p {
    margin: 0;
    font-size: .8rem;
}

.svc-button {
    padding: 2rem 3rem;
    font-size: 1.5rem;
}
