:root {
    --header-height: calc(45vh + 62px);
    --footer-height-wide: 175px;
    --footer-height-mobile: 284px;

    --head-foot-grad-color-1: #120c06f3;
    --head-foot-grad-color-2: #161006cf;
    --page-bg-color: #ebf0c834;
    --card-bg-color: #faf0e070;
    --card-border-color: #faf0e0c0;
    --action-btn-color: #f05028b0;
    --action-btn-border: #da8a78;
    --action-btn-text: #fffef4ff;
}

body {
    background-color: var(--page-bg-color);
}

@media screen and (max-width: 575px) {
    main {
        min-height: calc(100vh - var(--header-height) - var(--footer-height-mobile));
        margin: 0 5vw 0 5vw;
    }
}

@media screen and (min-width: 576px) and (max-width: 1400px) {
    main {
        min-height: calc(100vh - var(--header-height) - var(--footer-height-wide));
        margin: 0 8vw 0 8vw;
    }
}

@media screen and (min-width: 1401px) {
    main {
        min-height: calc(100vh - var(--header-height) - var(--footer-height-wide));
        margin: 0 12vw 0 12vw;
    }
}

header {
    margin-bottom: 20px;
}

footer {
    position: relative;
    margin: 20px 0 0 0;
}

button {
    margin: 15px;
}