:root {
    --header-height: calc(45vh + 56px);
    --footer-height-wide: calc(152px + 2vh);
    --footer-height-mobile: 395px;

}

@media screen and (max-width: 575px) {
    main {
        min-height: calc(100vh - var(--header-height) - var(--footer-height-mobile));
        margin: 0 5vw 0 5vw;
    }
}

@media screen and (min-width: 576px) and (max-width: 1400px) {
    main {
        min-height: calc(100vh - var(--header-height) - var(--footer-height-wide));
        margin: 0 9vw 0 9vw;
    }
}

@media screen and (min-width: 1401px) {
    main {
        min-height: calc(100vh - var(--header-height) - var(--footer-height-wide));
        margin: 0 15vw 0 15vw;
    }
}



header {
    margin-bottom: 20px;
}

.page-content {
    max-width: 1350px;
    margin: 0 auto 0 auto;
}

footer {
    position: relative;
    margin: 20px 0 0 0;
}

button {
    margin: 15px;
}